{% extends 'base.html' %}
{% block content %}
<div class="mt-4">
    <h2 style="color: #007bff;">Team Sponsor Changes</h2>
    <table class="table table-striped">
        <thead style="background-color: #343a40; color: #ffffff;">
            <tr>
                <th>Change ID</th>
                <th>Team ID</th>
                <th>Team Name</th>
                <th>Old Sponsor ID</th>
                <th>Old Sponsor Name</th>
                <th>New Sponsor ID</th>
                <th>New Sponsor Name</th>
                <th>Change Date</th>
            </tr>
        </thead>
        <tbody>
            {% for change in team_sponsor_changes %}
            <tr>
                <td>{{ change.ChangeID }}</td>
                <td>{{ change.TeamID }}</td>
                <td>{{ change.TeamName }}</td>
                <td>{{ change.OldSponsorID }}</td>
                <td>{{ change.OldSponsorName }}</td>
                <td>{{ change.NewSponsorID }}</td>
                <td>{{ change.NewSponsorName }}</td>
                <td>{{ change.ChangeDate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
